{% extends 'base/base.html'%}
{% load static %}

{% block title %}MC - Artists{% endblock title %}

{% block description %}"Music Collection Artist List page{% endblock description %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center mt-4 mb-3">Artists</h1>
				<ol>
					{% for artists in response.json %}
						{% for artist in artists %}
							{% with "https://twitter.com/"|add:artist.twitter as artist_twitter %}
								<li>
									<a href="{% url 'artists:artist' artist.id %}">{{ artist.name }}</a>
									&emsp;
									<a href="{{artist_twitter}}" target="_blank">{{artist.twitter}}</a>
								</li><br>
							{% endwith %}
						{% empty %}
							No artist found
						{% endfor %}
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
{% endblock body %}
