{% extends 'base/base.html'%}
{% load static %}

{% block title %}MC - Artists{% endblock title %}

{% block description %}"Music Collection Artist List page{% endblock description %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center mt-4 mb-3">Artists</h1>
				<ol>
					{% for artist in artists.json %}
						{% for detail in artist %}
							<li>{{ detail.name }} &emsp; Twitter: {{ detail.twitter}}</li>
						{% empty %}
							No artist found
						{% endfor %}
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
<!--{{response}}-->
{% endblock body %}
