{% extends 'base/base.html'%}
{% load static %}

{% block title %}MC - Albums{% endblock title %}

{% block description %}Music Collection Albums List page{% endblock description %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<table class="table table-sm mt-4 mb-3">
				<thead>
					<tr>
						<th></th><th></th>
						<th class="ml-2">Album Name</th>
						<th>Edit</th>
					</tr>
				</thead>

				<tbody>
				{% for album in albums %}
					<tr>
						<td></td><th></th>
						<td class="align-middle">
							<a href="{% url 'albums:album' album.id %}" class="btn btn-sm btn-link" role="button" aria-pressed="true">
								{{album.name}}
							</a>
						</td>
						<td>
							<a href="{% url 'albums:update' album.id %}" class="btn btn-sm btn-link" role="button" aria-pressed="true">
							<img alt="Pencil drawn" src="{% static 'img/edit.png' %}">
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock body %}