<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
It should contains the fields username and password
<br><br>
LOGGED user should be able to access all internal pages
<br><br>
If a NOT-LOGGED user tries to access any internal page -----------> he should be redirected to the login page
<br><br>
After a successful login the user should be redirected to the Artists list page
<br><br>
A FAILED LOGIN attempt will send the user BACK TO THE LOGIN PAGE with the error:
"Sorry, we couldn't find an account with this username. Please check you're using the right username and try again."
</body>
</html>