{% extends 'base/base.html' %}
{% load static %}

{% block title %}MC - Sign Up{% endblock title %}

{% block description %}Music Collection - Sign Up page{% endblock description %}

{% block body %}
<div class="container-fluid">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-3 mt-3 mb-4">
    {% include 'base/includes/messages.html' %}
    <h3 class="text-center">
        Sign Up!
    </h3>
    <form class="post-form" method="post" action="{% url 'base:signup' %}">

        <div class="form-group pt-4">
            <label>Full name:</label>
            {{form.full_name}}
        </div>

        <div class="form-group">
            <label>User name:</label>
            {{form.username}}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{form.password}}
        </div>

        <div class="form-group row">
        <div class="col-sm-4">
            <a href="{% url 'base:home'%}">
                <button type="button" class="btn btn-primary">Cancel</button></a>
        </div>
        <div class="col-sm-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Send</button>
        </div>
        </div>
    </form>



</div>
<div class="col-md-4">
</div>
</div>
</div>
{% endblock body %}