{% extends 'base/base.html'%}
{% load static %}

{% block title %}MC - Users{% endblock title %}

{% block description %}Music Collection Users page{% endblock description %}

{% block body %}
<div class="container">
<div class="row mt-4 mb-2">
<div class="col-md-12">

<table class="table table-sm mt-4 mb-3">
<thead>
    <tr>
        <th></th><th></th>
        <th class="ml-2">Username</th>
        <th>Is admin?</th>
        <th>Upgrade</th>
        <th>Downgrade</th>
    </tr>
</thead>

<tbody>
{% for user in users %}
    <tr>
        <td></td><th></th>
        <td class="align-middle">
                {{user.username}}
        </td>

        <td class="align-middle">
            {% if user.is_staff %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>

        <td>
            <form method="post" action="{% url 'base:upgrade' %}">
                {% csrf_token %}
                <input type="hidden" id="id_user_up" name="id_user_up" value="{{user.id}}">
                <button type="submit" class="btn btn-sm btn-link">
                    <img alt="Upgrade" src="{% static 'img/upgrade.png' %}">
                </button>
            </form>
        </td>

        <td>
            <form method="post" action="{% url 'base:downgrade' %}">
                {% csrf_token %}
                <input type="hidden" id="id_user_del" name="id_user_del" value="{{user.id}}">
                <button type="submit" class="btn btn-sm btn-link">
                    <img alt="downgrade" src="{% static 'img/downgrade.png' %}">
                </button>
            </form>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock body %}
